body{
    padding: 0;
    margin: 150px;
    text-transform: uppercase;
    font-family: Roboto;
}

h2{
    font-size: 40px;
}

#new_product{
    width: 95%;
    height: 350px;
    margin: 50px 0 10px 20;
    background: rgb(207, 207, 207);
}

form{
    width: 100%;
    font-size: 18px;
    display: inline-block;
}

.nom{
    width: 35%;
    height: 50px;
    margin-left: 50px;
    margin-top: 30px;
    border: 1px solid grey;
    padding: 0 5px 0 25px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.3em;
}

#prix_stock{
    display: block;
}

.prix{
    width: 15%;
    height: 50px;
    margin-left: 50px;
    margin-top: 20px;
    border: 1px solid grey;
    padding: 0 5px 0 25px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.3em;
}

.stock{
    width: 15%;
    height: 50px;
    margin-left: 32px;
    margin-top: 20px;
    border: 1px solid grey;
    padding: 0 5px 0 25px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.3em;
}

textarea{
    width: 35.4%;
    height: 130px;
    margin-top: 20px;
    margin-left: 50px;
    border: 1px solid grey;
    padding: 15px 0 0 25px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.2em
}

#url_img{
    display: inline;
    position: absolute;
    width: 90%;
    margin-left: 30px;
    margin-top: -130px;
}

.img{
    width: 35%;
    height: 50px;
    margin-left: 100px;
    border: 1px solid grey;
    padding: 0 5px 0 25px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.3em; 
}

.click_url{
    width: 50px;
    height: 45px;
    text-align: center;
    font-size: 25px;
    margin-top: 5px;
    background: #F2C94C;
    color: #ffffff;
    border: 1px solid grey;
}


input[type="submit"]{
    width: 350px;
    height: 50px;
    background: #F2C94C;
    color: #ffffff;
    font-size: 24px;
    border: 2px solid grey;
    box-sizing: border-box;
    letter-spacing: 0.2em;
}

.add_product{
    margin-top: 30px;
    float: right;
    margin-right: 75px;
}

#title_2{
    margin-top: 170px;
    margin-bottom: 50px;
}

.inventory{
    width: 95%;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 100px;
}

th{
    height: 35px; 
    text-align: left;
    background-color: #F2C94C; 
    color: #ffffff;
}

td{
    height: 35px;
    color: black;
}

table td, table th{
    font-size: 20px;
    border: 1px solid #585858;
    padding: 10px 80px 10px 30px;
}

.update_product{
    margin-top: 30px;
    float: right;
    margin-right: 75px;
}
